<ol class="question-list">
    <article class="qs">
      <div class="question">
        {{questionAsked}}
      </div>
      <div class ="answerChoices">
        <li>
          <input type='radio' id='green' name='answers' value="green">
          <label for='green'>
          {{greenAnswerChoice}}
          </label>
        </li>
        <li>
          <input type='radio' id='red' name='answers' value="red">
          <label for='red'>
          {{redAnswerChoice}}
          </label>
        </li>
        <li>
          <input type='radio' id='yellow' name='answers' value="yellow">
          <label for='yellow'>
          {{yellowAnswerChoice}}
          </label>
        </li>
        <li>
          <input type='radio' id='blue' name='answers' value="blue">
          <label for='blue'>
          {{blueAnswerChoice}}
          </label>
        </li>
      </div>
    </article>
</ol>
