<ol class="question-list">
    <article class="qs">
      <div class="question">
        {{questionAsked}}
      </div>
      <div class ="answerChoices">
        <li>
          <input type='radio' datasrc='green{{id}}' id='green' name='answers{{id}}' value="green">
          <label for='green'>
          {{greenAnswerChoice}}
          </label>
        </li>
        <li>
          <input type='radio' id='red' datasrc='red{{id}}' name='answers{{id}}' value="red">
          <label for='red'>
          {{redAnswerChoice}}
          </label>
        </li>
        <li>
          <input type='radio' id='yellow' datasrc='yellow{{id}}' name='answers{{id}}' value="yellow">
          <label for='yellow'>
          {{yellowAnswerChoice}}
          </label>
        </li>
        <li>
          <input type='radio' id='blue' datasrc='blue{{id}}' name='answers{{id}}' value="blue">
          <label for='blue'>
          {{blueAnswerChoice}}
          </label>
        </li>
        <div id='answerDiv' style='display: none'></div>
      </div>
    </article>
</ol>
