<ol class="question-list">
    <article class="qs">
      <div class="question">
        {{questionAsked}}
      </div>
      <div class ="answerChoices">
        <li>
          {{greenAnswerChoice}}
        </li>
        <li>
          {{redAnswerChoice}}
        </li>
        <li>
          {{yellowAnswerChoice}}
        </li>
        <li>
          {{blueAnswerChoice}}
        </li>
      </div>
    </article>
</ol>